audio_recorder_streamlit==0.0.10
deep_translator==1.11.4
groq==0.10.0
gTTS==2.5.3
nltk==3.8.1
numpy==1.24.2
openai_whisper==20231117
pyngrok==7.2.0
sounddevice==0.4.6
streamlit==1.38.0
streamlit_chat==0.1.1
vosk==0.3.45
whisper==1.1.10
